.FlashExchangePage {
    min-height: 100vh;
    background: #000;

    .FlashExchangeBox {
        padding-inline: 16px;
        padding-top: 60px;
        position: relative;

        .hintTxtBox {
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: rgba(255, 255, 255, 0.65);
        }

        .topEndIcon {
            position: absolute;
            top: 190px;
            right: 45%;
            width: 36px;
            height: 36px;
        }

        .duiHuanOption {
            margin-top: 20px;

            .inputOption {
                position: relative;

                .inputHeader {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .spn {
                        font-weight: 500;
                        font-size: 14px;
                        color: rgba(255, 255, 255, 0.65);
                    }

                    .rightDiv {
                        .rightTxt {
                            font-weight: 400;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.65);
                        }

                        .amountTxt {
                            font-weight: 400;
                            font-size: 12px;
                            color: #FFFFFF;
                        }
                    }
                }

                .inputBox {
                    margin-top: 10px;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    height: 60px;
                    padding-inline: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .inputTxtBlock {
                        flex: none;
                        width: 90px;
                        height: 40px;
                        background: #1A1D25;
                        border-radius: 4px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            width: 24px;
                            height: 24px;
                        }

                        .spn {
                            margin-left: 6px;
                            font-weight: bold;
                            font-size: 16px;
                            color: #FFFFFF;
                        }
                    }

                    .inputOption {
                        flex: auto;

                        .inputClass {
                            margin-left: 12px;
                            background: none;
                            border: none;
                            text-align: right;
                            color: #fff;
                        }

                        .inputClass:focus,
                        .inputClass-focused,
                        .inputClass input:focus,
                        .inputClass .ant-input-focused {
                            border-color: #d9d9d9 !important;
                            box-shadow: none !important;
                            outline: none !important;
                        }
                    }
                }


            }

        }


    }

}

.txtBox {
    margin-top: 16px;

    .txtOption {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftTxt {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.65);
        }

        .rightTxt {
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
        }
    }
}

.btnsHintBox {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btnItem {
        width: 48%;
        height: 74px;
        background: #1A1D25;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btnItemTop {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            color: #049E6C;
        }

        .btnItemEnd {
            text-align: center;
            font-weight: bold;
            font-size: 12 px;
            color: #fff;
        }

        .rightTxt {
            color: #F8C001;

        }


    }


}

.flashBtnBox {
    height: 54px;
    width: 100%;
    background: linear-gradient(270deg, #1DD274 0%, #2064F5 100%) !important;
    border-radius: 25px !important;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF !important;
}

.listHint {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.listBox {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 16px 12px;

    .listHeader {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.45);

        .time {
            width: 25%;
        }

        .type {
            text-align: center;

            width: 25%;
        }

        .status {
            width: 25%;
            text-align: right;
        }

        .amount {
            width: 25%;
            text-align: right;
        }
    }

    .listConent {
        height: 400px;
        overflow-y: scroll;

        .listItem {
            display: flex;
            align-items: center;
            padding-block: 16px;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;

            .time {
                width: 25%;
            }

            .type {
                text-align: center;

                width: 25%;
            }

            .status {
                width: 25%;
                text-align: right;
            }

            .amount {
                text-align: right;
                width: 25%;
            }
        }
    }
}