.SynthesisPopupPage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .SynthesisPopupContent {
        margin-inline: 40px;
        padding: 16px;
        background: #1E2231;
        border-radius: 24px;
    }

    .SynthesisHeaderTop {
        text-align: center;
        position: relative;

        .title {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
        }

        .closeIcon {
            position: absolute;
            right: 0px;
            top: 5px;
            width: 20px;
            height: 20px;
        }
    }

    .txtsOption {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
    }

    .numberBox {
        margin-top: 24px;
        width: 270px;
        padding-block: 16px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        .numTxt {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: #3475FF;
        }

        .hintTxt {
        text-align: center;
            margin-top: 4px;
            font-weight: 500;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.45);
        }
    }

    .hintTxtBox {
        margin-top: 16px;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
    }

    .btnBox {
        margin-top:24px;
        line-height: 44px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        height: 44px;
        width: 100%;
        background: linear-gradient(270deg, #1DD274 0%, #2064F5 100%);
        border-radius: 20px;
    }

}