.AboutUs {
    height: 100vh;
    background: #000;

    .contentPage {
        padding-top: 50px;
        padding-inline: 14px;
        overflow-y: scroll;
        height: calc(100vh);

        .hermes-container {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-family: "Microsoft YaHei", system-ui, sans-serif;
        }

        .hermes-text {
            // text-align: center;
        }

        .hermes-text .line1 {
            font-size: 18px;
            font-weight: 700;
            background: linear-gradient(236.69766547912312deg, #EE9CE3 0%, #4B75FF 57%, #D8FAFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-bottom: 12px;
        }

        .hermes-text .line2 {
            font-size: 18px;
            font-weight: 700;
            background: linear-gradient(236.69766547912312deg, #EE9CE3 0%, #4B75FF 57%, #D8FAFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .hintTxtBox {
            margin-top: 16px;
            line-height: 1.5em;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
        }

        .aboutBg {
            margin-top: 14px;
            width: 100%;
            height: 180px;
        }

        .txtsBox {
            margin-top: 40px;

            .txtHeader {
                font-weight: 600;
                font-size: 20px;
                color: #FFFFFF;
            }

            .optionBox {
                padding-bottom: 40px;
                .optionItem {
                    display: flex;
                    margin-top: 28px;

                    .leftItem {
                        flex: none;
                        border: 1px solid rgba(255, 255, 255, 0.45);
                        border-radius: 50%;
                        width: 56px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon {
                            width: 26px;
                            height: 26px;
                        }
                    }

                    .rightItem {
                        margin-left: 16px;
                        flex: auto;
                        .title {
                            font-weight: 400;
                            font-size: 16px;
                            color: #FFFFFF;
                        }

                        .txts {
                            margin-top: 8px;
                            font-weight: 400;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.65);
                        }
                    }
                }
            }
        }
    }
}