.ExtractPopupPage {
    padding: 16px;
    background: #1E2231;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .headerTopOption {
        text-align: center;
        position: relative;

        .title {
            font-weight: 500;
            font-size: 18px;
            color: #FFFFFF;
        }

        .closeIcon {
            position: absolute;
            right: 0px;
            top: 5px;
            width: 20px;
            height: 20px;
        }
    }

    .marginTop24 {
        margin-top: 24px;
    }

    .inputBox {
        margin-top: 24px;
        margin-bottom: 24px;

        .inputHint {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .leftTxt {
                font-weight: 500;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.65);
            }

            .rightTxtOption {
                .rightTxt {
                    font-weight: 400;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.65);
                }

                .rightAmount {
                    font-weight: 500;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
        }

        .inputOption {
            background: rgba(0, 0, 0, 0.45);
            border-radius: 8px;
            padding: 7px;
            margin-top: 12px;
            display: flex;
            align-items: center;

            .inputClass {
                border: none;
                background: none;
                font-weight: bold;
                font-size: 18px;
                color: #FFFFFF;
            }

            .inputClass:focus,
            .inputClass-focused,
            .inputClass input:focus,
            .inputClass .ant-input-focused {
                border-color: #d9d9d9 !important;
                box-shadow: none !important;
                outline: none !important;
            }

            .inputClass::placeholder {
                color: #999999;
                /* 占位符颜色 */
                font-size: 14px;
                /* 字体大小 */
                font-weight: 400;
                /* 字体粗细 */
                font-family: "Microsoft YaHei", sans-serif;
                /* 字体 */
            }

            .typeAmount {
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                margin-right: 14px;
            }
              .typeTAmount {
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
            }
            .blockLine {
                margin-inline: 12px;
                width: 1px;
                height: 22px;
                background: rgba(255, 255, 255, 0.15);
            }

            .allTxt {
                min-width: 50px;
                font-weight: 500;
                font-size: 16px;
                color: #F8C001;
            }
        }


    }


    .isOpenAiBox {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftTxt {
            font-weight: 500;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.65);
        }
    }

    .hintTxts {
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
        margin-right: 60px;
        line-height: 1.5em;
    }

    .openAiInputBox {
        .inputOption {
            background: rgba(0, 0, 0, 0.45);
            border-radius: 8px;
            padding: 7px;
            margin-top: 12px;
            display: flex;
            align-items: center;

            .inputClass {
                border: none;
                background: none;
                font-weight: bold;
                font-size: 18px;
                color: #FFFFFF;
            }

            .inputClass:focus,
            .inputClass-focused,
            .inputClass input:focus,
            .inputClass .ant-input-focused {
                border-color: #d9d9d9 !important;
                box-shadow: none !important;
                outline: none !important;
            }

            .inputClass::placeholder {
                color: #999999;
                /* 占位符颜色 */
                font-size: 14px;
                /* 字体大小 */
                font-weight: 400;
                /* 字体粗细 */
                font-family: "Microsoft YaHei", sans-serif;
                /* 字体 */
            }

            .typeAmount {
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }

    .aiHintBox {
        margin-top: 4px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
    }

    .hintOptionEx {
        margin-top: 12px;

        .hitTxt {
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
        }

        .hitWallet {
            margin-left: 12px;
            font-weight: 400;
            font-size: 12px;
            color: #F8C001;
        }
    }
    .optionBox {
        .optionItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;

            .spnLeft {
                font-weight: 400;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.65);
            }

            .spnRight {
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
            }
        }
    }

    .endBox {
        margin-top: 40px;

        .endOption {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .leftTxt {
                font-weight: 500;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.65);
            }

            .rightTxt {
                font-weight: 500;
                font-size: 18px;
                color: #F8C001;
            }
        }

        .btn {
            width: 100%;
            margin-top: 9px;
            font-weight: 500;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.65);
            background: linear-gradient(270deg, #1DD274 0%, #2064F5 100%);
            border-radius: 25px;
            height: 50px;
        }
    }

}