.AssetPage {
    background: #000;
    height: 100vh;

    .contentPage {
        padding-top: 60px;
        height: 100vh;
        overflow-y: scroll;
        padding-inline: 14px;
        padding-bottom: 40px;

        .assetInfoBox {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .leftInfoOption {
                .topTxt {
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                }

                .endTxt {
                    margin-top: 8px;
                    font-weight: 500;
                    font-size: 28px;
                    color: #FFFFFF;
                }
            }

            .rightInfoOption {
                border-radius: 20px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 17px;

                .icon {
                    width: 18px;
                    height: 18px;
                }

                .iconRightTxt {
                    margin-left: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }
        }

        .liCaiBox {
            margin-top: 12px;
            background-image: url('@/assets/Chfp/bg.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 16px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .liCaiLeftOption {}

            .headerBox {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .leftTxtOption {
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                }

                .rightOption {
                    display: flex;
                    align-items: center;

                    .txt {
                        font-weight: 400;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.65);
                    }

                    .queryIcon {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .AmountOption {
                margin-top: 4px;

                .num {
                    font-weight: 500;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                .amountType {
                    margin-left: 4px;
                    font-weight: 500;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }

            .btnBox {
                text-align: center;
                margin-top: 23px;
                background-image: url('@/assets/Chfp/btnBg.png');
                background-size: 100% 100%;
                padding-block: 9px;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
            }

            .btnList {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn {
                    margin-left: 8px;
                    width: 60px;
                    height: 25px;
                    border-radius: 20px;
                    font-size: 12px;
                }

                .btnOne {
                    border: 1px solid #FFFFFF;
                    background: none;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                .btnToRu {
                    background: #1DD274;
                    font-weight: 500;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.85);
                }

                .btnTwo {
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.85);
                    background: #FFFFFF;
                }
            }
        }

        .reinvestmentBox {
            padding: 16px 12px;
            margin-top: 12px;
            background-image: url('@/assets/Chfp/twoBg.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .headerOption {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .leftTxt {
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                }

                .rightOption {
                    display: flex;
                    align-items: center;

                    .aboutIcon {
                        width: 16px;
                        height: 16px;
                    }

                    .txt {
                        margin-right: 4px;
                        font-weight: 400;
                        font-size: 12px;
                        color: #FFFFFF;
                    }
                }
            }

            .endInfoOption {
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .amountOption {
                .num {
                    font-weight: 500;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                .typeAmount {
                    font-weight: 500;
                    font-size: 12px;
                    color: #FFFFFF;
                }
            }

            .hintTxt {
                margin-top: 16px;
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.65);
            }

            .btnList {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn {
                    margin-right: 12px;
                    width: 60px;
                    height: 30px;
                    border-radius: 20px;
                    font-size: 12px;
                }

                .btnOne {
                    border: 1px solid #FFFFFF;
                    background: none;
                    font-weight: 500;
                    color: #FFFFFF;
                }

                .btnTwo {
                    font-weight: 500;

                    color: rgba(0, 0, 0, 0.85);
                    background: #FFFFFF;
                }
            }
        }

        .shouYiLvBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            border-radius: 8px;
            background: #000;
            border: 1px solid rgba(255, 255, 255, 0.15);
            padding: 20px 12px;

            .leftOption {
                .spn1 {
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.65);
                }

                .spn2 {
                    font-weight: 500;
                    font-size: 20px;
                    color: #FFFFFF;
                }
            }

            .rightOption {
                display: flex;
                align-items: center;

                .spn1 {
                    font-weight: 400;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.65);
                }

                .queryIcon {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .blanceOfBox {
            margin-top: 12px;
            border-radius: 8px;
            background: #1A1D25;
            padding: 0 12px;

            .bottomBorder {
                border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
            }

            .blanceOption {
                padding-block: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .leftOption {
                    display: flex;
                    align-items: center;

                    .icon {
                        width: 32px;
                        height: 32px;
                    }

                    .contentOption {
                        margin-left: 8px;

                        .topTxt {
                            font-weight: 500;
                            font-size: 16px;
                            color: #FFFFFF;
                        }

                        .endTxt {
                            margin-top: 2px;
                            font-weight: 400;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.35);
                        }
                    }
                }


                .rightOption {
                    .numTxt {
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    .numTwoTxt {
                        margin-top: 4px;
                        font-weight: 400;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.45);
                    }
                }
            }
        }

        .duiHuanBox {
            margin-top: 12px;
            padding: 16px 12px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .leftOption {
                display: flex;
                align-items: center;

                .iconOption {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #305AF6;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }


                .contentOption {
                    margin-left: 12px;

                    .numTxt {
                        font-weight: 500;
                        font-size: 16px;
                        color: #FFFFFF;
                    }

                    .hintTxt {
                        margin-top: 2px;
                        font-weight: 400;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.45);
                    }
                }
            }

            .rightBtn {
                font-weight: 500;
                font-size: 12px;
                color: #FFFFFF;
                padding: 6px 12px;
                background: linear-gradient(270deg, #1DD274 0%, #2064F5 100%);
                border-radius: 25px;
            }
        }
    }
}